.oculto { display: none !important; }

#overlay-login {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 9999; 
}

#modal-login {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; 
}


#modal-login .modal-contenido{
  background: #fff; width: min(420px, 92vw);
  border-radius: 14px; padding: 24px 20px 18px;
  box-shadow: 0 20px 60px rgba(0,0,0,.35);
  position: relative; font-family: 'Oswald', sans-serif;
}

.cerrar-modal{
  position: absolute; top: 10px; right: 12px;
  border: 0; background: transparent; font-size: 24px; cursor: pointer;
}

.form-login{ display: flex; flex-direction: column; gap:10px; margin-top: 30px; margin-bottom: 20px;}
.form-login label{ display: flex; flex-direction: column; font-size: 14px; color: #333;}
.form-login input{
  padding: 10px 12px; border: 1px solid #cbd5e1; border-radius: 10px; font-size: 15px; margin-top: 2px;
}
.btn-login{
  margin-top: 6px; padding: 12px 14px; border-radius: 10px; border: 0; cursor: pointer;
  background: #d0021b; color: #fff; font-weight: 700;
}
.btn-login:hover{ filter: brightness(.95); }

.modal-footer{ text-align: center; margin-top: 10px; font-size: 14px; margin-bottom: 10px;}
.modal-footer a{ color: #0d1b2a; text-decoration: none; font-weight: 700; }
.modal-footer a:hover{ text-decoration: underline; }


.modal-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
  margin-top: 1rem;
}

.modal-logo img {
  max-width: 250px; 
  height: auto;
}

/*estilos mostrar/ocultar*/

.campo-password {
  position: relative;
  width: 100%; /* el input ocupa todo el ancho disponible */
}

.campo-password input {
  width: 100%;
  padding-right: 40px;   /* deja espacio dentro del input para el ojito */
  box-sizing: border-box;
}

.campo-password i {
  position: absolute;
  right: 12px;          /* pegado al borde derecho */
  top: 50%;
  transform: translateY(-50%); /* centrado vertical */
  cursor: pointer;
  color: #555;
  font-size: 1rem;
}

