body {
  background-color: #0d1b2a;
}

/*inicio video debajo de nav*/

.video-nav {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  margin-top: 74px;
}

.video-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.texto-sobre-video {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  z-index: 2;
  padding: 20px;
  max-width: 400px;
  
}

.texto-sobre-video h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

/* fin video debajo de nav*/

/* inicio imagen de riders */

.imagen-riders {
  margin-top: 60px;       /* espacio con el video */
  padding: 0 40px;        /* espacio a los costados */
  width: 100%;
  box-sizing: border-box; /* para que el padding no exceda el ancho */
}

.imagen-riders img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;    /* borde redondeado */
}

/*fin imagen de riders */
