body {
  background-color: #0d1b2a;
}

.contenedor-margenes {
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

/*inicio video debajo de nav*/

.video-nav {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  margin-top: 74px;
}

.video-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.texto-sobre-video {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  text-align: left;
  z-index: 2;
}


.texto-sobre-video h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

/* fin video debajo de nav*/

/* inicio Redbull bora logo*/

.logo-redbull-bora img {
  width: 200px;
  height: auto;
}

.texto-logo  {
  color: white; /* o el color que quieras */
  font-size: 12px;
  margin-top: 5px;
  font-family: 'Oswald', sans-serif; /* igual al resto si usás Oswald */
}


/* fin Redbull bora logo*/